.basket{
    height: fit-content;
    position: sticky;
    top: 0;
}

.basket-fruits, .price{
    background-color: rgb(184, 144, 144);
}

.basket-fruits{
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px red solid;
    height: 332px;
    overflow-y: auto;
    z-index: -1;
}

.basket-title{
    position: sticky;
    top: 0;
    z-index: 1;
}

.clear-bas-but{
    position: relative;
    top: -6px;
    left: 12px;
}

.basket-title, .price-title{
    color: white;
    background-color: rgb(44, 141, 24);
    text-align: center;
    margin: 0;
    padding: 3px 0px;
}

.price{
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px red solid;
    margin-top: 15px;
}

.price-details{
    padding: 10px;
}

.price-details p{
    margin: 7px 0 0 0;
    font-size: large;
    font-weight: 500;
}