.header-1{
    background-color: rgb(214, 201, 22);
}

.head1-a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.header-2{
    background-color: rgb(223, 61, 61);
}

.head2-a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 500;
    margin-right: 50px;
    padding: 20px 20px;
}

.head2-a:hover{
    color: black;
    background-color:chartreuse
}

.header-2 img{
    height: 100px;
    margin-left: 50px;
}

.header-1, .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}