.header-1{
    background-color: rgb(214, 201, 22);
    padding: 10px 80px;
}

.header-1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 30px;
}

.header-2{
    background-color: rgb(223, 61, 61);
}

.header-2 a:not(.logo-link){
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 500;
    margin-right: 50px;
    padding: 20px 20px;
}

.header-2 a:not(.logo-link):hover{
    color: black;
    background-color:chartreuse;
}

.header-2 img{
    height: 100px;
    margin-left: 50px;
}

.header-1, .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}