.single-basket-fruit{
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    position: relative;
}

.b-f-img{
    height: 50px;
    width: 50px;
}

.fruit-name{
    display: none;
}

/* .b-f-img:hover + .fruit-name{
    display: block;
    padding: 23px;
    position: absolute;
    left: 100px;
    top: -30px;
} */

.fruit-quan{
    background-color: rgba(236, 239, 241, 1);
}
