.fruits-sec{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* position: sticky; */
    /* top: 146.65px; */
    /* top: 2000px; */
    /* top: 10px; */
}

.fruits-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(184, 144, 144);
}

.fruit-sec-title{
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(106, 72, 201);
    text-align: center;
    padding: 3px 0px;
    margin: 0px 10px 0px 0px;
}